*.psd
*.zip
*.mp3
*.ttf
old config files/

# AWS credentials config
ContagionServer/aws_config.json

# Dependency directories
node_modules/
jspm_packages/

# AWS credentials config
aws_config.json

# Database credentials config
db_config.json

# Visual Studio Code directories
.vscode/

# Log files
*.log

# js lint config
.jshintrc