*.psd
*.zip

# Dependency directories
node_modules/
jspm_packages/

# Database credentials config
#db_config.json

# Visual Studio Code directories
.vscode/

# Log files
*.log

# js lint config
.jshintrc
.prettierrc
